<!DOCTYPE html>
<html lang="es">

<head>
    <title>Su Zapatería Online: Gestión Categorías</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

    <h3>Nueva categoría</h3>

    <div class="container m-3">
        <form class="row" th:action="@{/admin/categoria/add}" th:object="${categoria}" method="post">
            <input type="number" name="id" hidden th:value="${categoria.id}" />
            <div class="mb-3">
                <label class="form-label" for="nombre">Nombre de la categoria:</label>
                <input class="form-control" name="nombre" th:value="${categoria.nombre}" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="descripcion">Descripción de la categoria:</label>
                <input class="form-control" name="descripcion" th:value="${categoria.descripcion}" />
            </div>
            <div>
                <label class="form-label" for="padre">Seleccione la categoría padre:</label>
                <select name="padre" class="form-select">
                    <option value="">Sin padre</option>
                    <option 
                        th:each="categoriaPadre: ${categorias}" th:value="${categoriaPadre.id}"
                        th:selected="
                          ${categoria.padre} ? 
                          (${categoria.padre.id}==${categoriaPadre.id}?'selected':'false') : 'false'"                        
                        th:text="${categoriaPadre.nombre}">
                    </option>
                </select>
            </div>
            <div>
                <button class="btn btn-success mt-3" type="submit">Enviar</button>
            </div>
        </form>
    </div>

    <div th:replace="~{fragmentos/general.html :: footer}"></div>
    </div>
</body>

</html>