<!DOCTYPE html>
<html lang="es">

<head>
    <title>Zapatería Online: Añadir un usuario</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
    
        <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

        <div class="container">
            <h3>Añadir usuarios</h3>

            <form th:action="|/admin/usuarios/delete/${usuario.id}|" th:object="${usuario}" method="post">
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Nombre: </label>
                            <input type="text" th:field="*{nombre}"
                                    class="form-control" disabled/>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Apellido: </label>
                            <input type="text" th:field="*{apellido}"
                                    class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">
                        <!-- <div class="col-md-6">
                            <label class="form-label">Dirección:
                                <select th:field="*{direccion}" class="form-select">
                                    <option th:each="direccion : ${direcciones}" th:value="${direccion.id}">
                                        <span th:text="${direccion.tipoVia}"></span>
                                        <span th:text="${direccion.nombreVia}"></span>
                                        <span th:text="${direccion.numero}"></span>
                                    </option>
                                </select>
                            </label>
                        </div> -->

                        <div class="col-md-6">
                            <label class="form-label" for="email">Email:</label>
                            <input type="email" name="email" th:field="*{email}"
                                    class="form-control" disabled/>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Nombre de usuario: </label>
                            <input type="text" th:field="*{username}"
                                    class="form-control" disabled/>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Contraseña:</label> 
                            <input type="password" th:field="*{password}"
                                    class="form-control" disabled/>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">                      
                        <div class="col-md-6">
                            <p>Roles:</p>
                            <ol>
                                <li th:each="rol : ${usuario.roles}" th:text="${rol.rol}"></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-danger">Borrar</button>
                            <a href="/admin/usuarios" class="btn btn-primary">Cancelar</a>
                        </div>
                    </div>
            </form>

            <div th:replace="~{fragmentos/general.html :: footer}"></div>
        
    </div>
</body>

</html>