<!DOCTYPE html>
<html lang="es">

<head>
  <title>Su Zapatería Online: Gestión de Pedidos</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>  
  <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

    <div th:replace="~{fragmentos/pedido.html :: detalle-pedido}"></div>

    <div class="container">
        <form method="post">
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-bag-shopping"></i> Preparar
            </button>
            <a class="btn btn-danger" href="/pedidos">
                <i class="fa-solid fa-backward"></i> Voler atrás
            </a>
        </form>
    </div>
  <div th:replace="~{fragmentos/general.html :: footer}"></div>
</div>
</body>

</html>