<!DOCTYPE html>
<html lang="es">

<head>
  <title>Su Zapatería Online: Gestión Direcciones</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>
    <h3>Añadir una dirección adicional:</h3>
    <div class="container m-3">
        <form class="row"
            th:object="${telefono}"
            method="post">

            <div class="mb-3">
                <label class="form-label" for="codigoPais">Código de país (sin el símbolo +):</label>
                <input type="number" class="form-control" name="codigoPais" placeholder="Código del País, ej: 34"/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="numero">Número de telefono (sin espacios):</label>
                <input type="number" class="form-control" name="numero" placeholder="Escriba aquí el teléfono"/>
            </div>
           
            <div>
                <button class="btn btn-success mt-3" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <div th:replace="~{fragmentos/general.html :: footer}"></div>
</div>
</body>

</html>