<!DOCTYPE html>
<html lang="es">

<head>
  <title>Su Zapatería Online: Gestión de Localidades</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
  
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>
  
    <div class="container">
      <h3>Listado de localidades</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>CP</th>
            <th>nombre</th>
            <th>provincia</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="localidad: ${localidades}">
            <td th:text="${localidad.cp}"></td>
            <td th:text="${localidad.nombre}"></td>
            <td th:text="${localidad.provincia}"></td>
            <td>              
              <a class="btn btn-success" th:href="|/localidades/edit/${localidad.cp}|">actualizar</a>
              <a class="btn btn-danger" th:href="@{/localidades/delete/}+${localidad.cp}">borrar</a>                    
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div th:replace="~{fragmentos/general.html :: footer}">
</div>
</body>

</html>