<!DOCTYPE html>
<html lang="es">

<head>
    <title>Su Zapatería Online</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>
    <div class="container">                
            <h5>Sobre esta WEBAPP</h5>

            <p>Esta Aplicación Spring Web ha sido realizada para
                los alumnos del Ciclo de Desarrollo de Aplicaciones Multiplataforma.</p>
        </div>
    <div th:replace="~{fragmentos/general.html :: footer}"></div>    
</body>

</html>