<!DOCTYPE html>
<html lang="es">

<head>
  <title>Su Zapatería Online: Sobre esta aplicación</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>  
  <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

   <h3>Sobre esta Web</h3>

   <p>Esta Aplicación Spring Web ha sido realizada para
    los alumnos del Ciclo de Desarrollo de Aplicaciones Multiplataforma.</p>


  <div th:replace="~{fragmentos/general.html :: footer}"></div>
</div>
</body>

</html>