<!DOCTYPE html>
<html lang="es">

<head>
    <title>Su Zapatería Online</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>
        <div class="container">        
            <h5>AYUDA</h5>
            <p>Seleccione una opción de los menús.</p>
            <p>Según el tipo de usuario podrá acceder a unas partes
                u otras de esta Web. </p>
        </div>
    <div th:replace="~{fragmentos/general.html :: footer}"></div>
    
</body>

</html>