<!DOCTYPE html>
<html lang="es">

<head>
  <title>Su Zapatería Online: Gestión usuarios</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>  
  <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

    <h4>Acceso denegado</h4>

    <p>Por favor identifíquese con el usuario con los privilegios correctos para acceder a esta parte de la Web.</p>

    <p><a href="/logout">Salir del sistema</a></p>
    

  <div th:replace="~{fragmentos/general.html :: footer}"></div>
</div>
</body>

</html>