<!DOCTYPE html>
<html lang="es">

<head>
  <title>Su Zapatería Online</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
  <div class="container-fluid">
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

    <div class="container">
      <div class="card m-4" style="width: 18rem;">
        <img src="img/img.jpeg" class="card-img-top" alt="Zapato Veloz">
        <div class="card-body">
          <h5 class="card-title">Zapato Veloz</h5>
          <p class="card-text">Bienvenido a nuestra tienda virtual donde encontrará cualquier tipo de calzado.</p>
          <a sec:authorize="isAnonymous()"  href="/login" class="btn btn-primary">Go shopping!</a>
        </div>
      </div>
    </div>
    <div th:replace="~{fragmentos/general.html :: footer}"></div>
  </div>
</body>

</html>