<!DOCTYPE html>
<html lang="es">

<head>
  <title>Su Zapatería Online: INCIO</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
  <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

  
  <div class="border rounded m-2 p-2 border-1">
    <h3>LOGIN</h3>
    <form method="POST" action="/login">
      <div class="mb-3">
        <label for="username" class="form-label"> Username </label>
        <input name="username" class="form-control" type="text">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"> Password </label>
        <input name="password" class="form-control" type="password">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>

  <div th:replace="~{fragmentos/general.html :: footer}"></div>
  </div>
</body>

</html>